<div class="container">
    <div class="row">
        <div class="col-md-9">
        ss
        </div>
        <div class="col-md-3 sidebar-links">
        	<div class="panel panel-white panel-friends">
                <div class="panel-heading"> <a href="#" class="pull-right">View all&nbsp;<i class="fa fa-share-square-o"></i></a>
                    <h3 class="panel-title">Friends</h3></div>
                <div class="panel-body text-center">
                    Text
                </div>
            </div>
		    <hr>
		    <div class="row footer-links">
	            <div class="col-xs-12">
	                <ul class="list-unstyled list-inline pull-left">
	                	<li class="text-muted">© 2015 Company Name. All rights reserved</li>
	                    <li><a href="#">Terms of Service</a></li>
	                    <li><a href="#">Privacy</a></li>
	                    <li><a href="#">Contact Us</a></li>
	                </ul>
	            </div>
	        </div>
      	</div>
    </div>
</div>